<a href="https://colab.research.google.com/github/prasetyofmalik/google-colab/blob/main/WebScraping-BeautifulSoup/Project_2_Intermediate_Part1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Imports

In [ ]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

### HTTP Request

#### store website in variable

In [ ]:
website = 'https://www.trulia.com/CA/San_Francisco/'

#### Get Request

In [ ]:
response = requests.get(website)

#### Status Code

In [ ]:
response.status_code

200

### Soup Object

In [ ]:
soup = BeautifulSoup(response.content, 'html.parser')

In [ ]:
# soup

### Results

In [ ]:
result = soup.find_all('li', {'class':'SearchResultsList__WideCell-b7y9ki-2'})

In [ ]:
len(result)

42

### Update Results

we just want to target the elements which have the attribute 'data-testid'

In [ ]:
results_update = []

In [ ]:
for r in result:
  if r.has_attr('data-testid'):
    results_update.append(r)

In [ ]:
len(results_update)

40

### Target necessary data

In [ ]:
# Address
# Bedrooms
# Bathrooms
# Price

#### Address

In [ ]:
results_update[9].find('div', {'data-testid':'property-address'}).get_text()

'345 Twin Peaks Blvd, San Francisco, CA 94114'

#### Bedrooms

In [ ]:
results_update[9].find('div', {'data-testid':'property-beds'}).get_text()

'5bd'

#### Bathrooms

In [ ]:
results_update[9].find('div', {'data-testid':'property-baths'}).get_text()

'4ba'

#### Price

In [ ]:
results_update[9].find('div', {'data-testid':'property-price'}).get_text()

'$5,500,000'

### Append all Results in Lists with List Comprehension

In [ ]:
addresses =[result.find('div', {'data-testid':'property-address'}).get_text() for result in results_update]
beds =[result.find('div', {'data-testid':'property-beds'}).get_text() for result in results_update]
# baths =[result.find('div', {'data-testid':'property-baths'}).get_text() for result in results_update]
prices =[result.find('div', {'data-testid':'property-price'}).get_text() for result in results_update]

In [ ]:
len(prices)

40

### Create Pandas Dataframe

In [ ]:
real_estate = pd.DataFrame({'Address':addresses, 'Bedrooms':beds, 'Price':prices})

In [ ]:
real_estate

                                              Address Bedrooms       Price
0                61 Grace St, San Francisco, CA 94103      3bd    $799,000
1               816 Paris St, San Francisco, CA 94112      3bd    $998,000
2         555 Fulton St #509, San Francisco, CA 94102      1bd    $885,000
3              443 Waller St, San Francisco, CA 94117      4bd  $1,495,000
4          2655 Bush St #321, San Francisco, CA 94115      2bd  $1,250,000
5        1075 Market St #501, San Francisco, CA 94103   Studio    $549,000
6               4015 25th St, San Francisco, CA 94114      3bd  $2,500,000
7             156 Everson St, San Francisco, CA 94131      2bd  $1,380,000
8          3136 Fulton St #1, San Francisco, CA 94118      4bd  $1,775,000
9        345 Twin Peaks Blvd, San Francisco, CA 94114      5bd  $5,500,000
10              701 Paris St, San Francisco, CA 94112      9bd  $1,395,000
11  5320 Diamond Heights Blvd #108K, San Francisco...      1bd    $695,000
12            1360 Fulton St, San Francisco, CA 94117      3bd  $1,650,000
13        1415 San Bruno Ave, San Francisco, CA 94110      3bd    $999,000
14     1415 San Bruno Ave #A, San Francisco, CA 94110      2bd    $899,000
15        2943 Washington St, San Francisco, CA 94115      3bd  $2,095,000
16             1954 17th Ave, San Francisco, CA 94116      2bd  $1,652,000
17        3938 Washington St, San Francisco, CA 94118      3bd  $3,199,000
18           340 Ritch St #5, San Francisco, CA 94107      1bd  $1,129,000
19         802 Arguello Blvd, San Francisco, CA 94118      3bd  $1,449,000
20            473 Chenery St, San Francisco, CA 94131      5bd  $3,599,000
21          1000 3rd St #605, San Francisco, CA 94158      2bd  $1,599,000
22          685 Lakeview Ave, San Francisco, CA 94112      3bd  $1,195,000
23        416 Bosworth St #A, San Francisco, CA 94112      3bd  $1,450,000
24        8 Buchanan St #503, San Francisco, CA 94102      1bd    $775,000
25          674 Castro St #A, San Francisco, CA 94114      3bd  $1,095,000
26           8 Aquavista Way, San Francisco, CA 94131      3bd  $1,250,000
27       451 Donahue St #506, San Francisco, CA 94124      2bd    $725,000
28      268-272 Fair Oaks St, San Francisco, CA 94110      4bd  $1,850,000
29              1250 Pine St, San Francisco, CA 94109   Studio  $3,150,000
30        348 Church St #102, San Francisco, CA 94114      2bd  $1,295,000
31       108 San Jose Ave #3, San Francisco, CA 94110      3bd  $1,425,000
32         255 Goettingen St, San Francisco, CA 94134      1bd    $548,000
33       45 Bartlett St #301, San Francisco, CA 94110      2bd  $1,325,000
34        200 Townsend St #9, San Francisco, CA 94107      1bd    $999,000
35      342 Arkansas St #501, San Francisco, CA 94107      2bd  $1,295,000
36      1400 Mission St #406, San Francisco, CA 94103      1bd    $363,130
37            1161 Church St, San Francisco, CA 94114      2bd  $1,195,000
38           355 1st St #404, San Francisco, CA 94105      2bd  $1,199,000
39             146 A 27th St, San Francisco, CA 94110      3bd  $1,395,000

### Output in Excel

In [ ]:
real_estate.to_excel('real_estate_page_1.xlsx', index=False)